MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=change_me_secure_password
MONGO_DB_NAME=eticketing
JWT_SECRET=replace_with_a_secure_random_string
SPRING_PROFILES_ACTIVE=prod
FRONTEND_HOST_PORT=80
