::ng-deep .nav-tabs {
  .nav-link {
    border: none;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    color: #7e8299;

    &:hover {
      border: none;
      color: #009ef7;
    }

    &.active {
      border: none;
      border-bottom: 2px solid #009ef7;
      color: #009ef7;
      background: transparent;
    }
  }
}

.form-switch .form-check-input {
  width: 3em;
  height: 1.5em;
}
