<div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
  <div class="card-header cursor-pointer">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Profile Details</h3>
    </div>

    <a routerLink="../settings" class="btn btn-primary align-self-center">
      Edit Profile
    </a>
  </div>

  <div class="card-body p-9" *ngIf="user$ | async as user">
    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Full Name</label>

      <div class="col-lg-8">
        <span class="fw-bolder fs-6 text-dark">
          {{ user?.firstName }} {{ user?.lastName }}
        </span>
      </div>
    </div>

    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Email</label>

      <div class="col-lg-8 fv-row">
        <span class="fw-bold fs-6">{{ user?.email || "-" }}</span>
      </div>
    </div>

    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Contact Phone</label>

      <div class="col-lg-8 d-flex align-items-center">
        <span class="fw-bolder fs-6 me-2">
          {{ user?.phone?.countryCode ? "+" + user.phone.countryCode : "" }}
          {{ user?.phone?.number || "-" }}
        </span>
      </div>
    </div>

    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Role</label>

      <div class="col-lg-8">
        <span class="fw-bolder fs-6 text-dark">{{ user?.role }}</span>
      </div>
    </div>

    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Created At</label>

      <div class="col-lg-8">
        <span class="fw-bolder fs-6 text-dark">
          {{ user?.createdAt | date: "yyyy-MM-dd" }}
        </span>
      </div>
    </div>

    <div class="row mb-10">
      <label class="col-lg-4 fw-bold text-muted">Updated At</label>

      <div class="col-lg-8">
        <span class="fw-bolder fs-6 text-dark">
          {{ user?.updatedAt | date: "yyyy-MM-dd" }}
        </span>
      </div>
    </div>
  </div>
</div>
