:host {
  height: 100%;
  margin: 0;

  .flex-root {
    height: 100%;
  }
}

.app-layout-ion-content {
  --ion-background-color: var(--bs-body-bg);
  --background: var(--bs-body-bg);
  --color: var(--bs-body-color);
}

.page-loaded {
  app-layout {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
}
