<div class="modal-header">
  <h2 class="modal-title">{{ "DASHBOARD.ASSIGN.TITLE" | translate }}</h2>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="dismiss()"
  ></button>
</div>
<form [formGroup]="posForm" (ngSubmit)="submit()">
  <div class="modal-body">
    <div class="mb-6">
      <label class="form-label required">{{
        "DASHBOARD.ASSIGN.CHOOSE_POS" | translate
      }}</label>
      <ng-select
        formControlName="company"
        [items]="filteredCompanyList"
        [loading]="loadingCompanies"
        [searchable]="true"
        [clearable]="true"
        bindLabel="name"
        placeholder="{{ 'DASHBOARD.ASSIGN.POS_PLACEHOLDER' | translate }}"
      >
      </ng-select>
      <div *ngIf="isInvalid('company')" class="text-danger small mt-1">
        {{ "DASHBOARD.ASSIGN.ERRORS.POS_REQUIRED" | translate }}
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="dismiss()">
      {{ "COMMON.BUTTON.CANCEL" | translate }}
    </button>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="isButtonDisabled || posForm.invalid || isSubmitting"
    >
      <span *ngIf="!isSubmitting">{{ "COMMON.BUTTON.SAVE" | translate }}</span>
      <span
        *ngIf="isSubmitting"
        class="spinner-border spinner-border-sm"
      ></span>
    </button>
  </div>
</form>
