<app-toolbar [appToolbarLayout]="'classic'">
  <div toolbar-actions>
    <button
      class="btn btn-sm fw-bold btn-secondary me-3"
      [routerLink]="backLink"
    >
      <i class="ki-duotone ki-arrow-left fs-2"></i>
      {{ "COMMON.BUTTON.BACK" | translate }}
    </button>
  </div>
</app-toolbar>

<div class="card">
  <div class="card-header">
    <h3 class="card-title">
      {{
        (company ? "COMPANIES.FORM.EDIT_TITLE" : "COMPANIES.FORM.CREATE_TITLE")
          | translate
      }}
    </h3>
  </div>

  <form [formGroup]="companyForm" (ngSubmit)="submit()">
    <div class="card-body">
      <div class="row mb-6">
        <h5 class="fw-bold mb-3">
          {{ "COMPANIES.LABEL.PICTURE" | translate }}
        </h5>
        <div class="row mb-6">
          <div class="col-md-12 fv-row mb-3">
            <div class="d-flex align-items-center gap-4 flex-wrap">
              <div
                (click)="uploadPicture()"
                class="symbol symbol-100px cursor-pointer"
                *ngIf="getPictureUrl() as pictureUrl; else noPicture"
              >
                <img
                  [src]="pictureUrl"
                  [alt]="'COMPANIES.LABEL.PICTURE' | translate"
                />
                <button
                  type="button"
                  class="btn btn-icon btn-light-danger btn-sm position-absolute top-0 end-0 m-1 w-25px h-25px"
                  (click)="$event.stopPropagation(); removePicture()"
                >
                  <i class="ki-duotone ki-cross fs-4">
                    <span class="path1"></span>
                    <span class="path2"></span>
                  </i>
                </button>
              </div>
              <ng-template #noPicture>
                <div
                  (click)="uploadPicture()"
                  class="symbol symbol-100px cursor-pointer"
                >
                  <span
                    class="symbol-label fs-6 fw-bold bg-light-primary text-primary"
                  >
                    <span *ngIf="!isUploadingPicture; else waitForUpload">
                      {{ "COMMON.BUTTON.UPLOAD" | translate }}
                    </span>
                    <ng-template #waitForUpload>
                      <span
                        class="spinner-border spinner-border-sm align-middle ms-2"
                      ></span>
                    </ng-template>
                  </span>
                </div>
              </ng-template>
            </div>
          </div>
        </div>

        <div class="col-md-6 fv-row mb-3">
          <label class="required fs-6 fw-semibold mb-2">
            {{ "COMPANIES.LABEL.NAME" | translate }}
          </label>
          <input
            type="text"
            class="form-control form-control-solid"
            formControlName="name"
            [class.is-invalid]="isInvalid('name')"
          />
          <div *ngIf="isInvalid('name')" class="invalid-feedback">
            {{ "COMMON.VALIDATION.REQUIRED" | translate }}
          </div>
        </div>

        <div class="col-md-6 fv-row mb-3">
          <label class="fs-6 fw-semibold mb-2">
            {{ "COMPANIES.LABEL.LEGAL_NAME" | translate }}
          </label>
          <input
            type="text"
            class="form-control form-control-solid"
            formControlName="legalName"
          />
        </div>

        <div class="col-md-6 fv-row mb-3">
          <label class="fs-6 fw-semibold mb-2">
            {{ "COMPANIES.LABEL.TAX_ID" | translate }}
          </label>
          <input
            type="text"
            class="form-control form-control-solid"
            formControlName="taxId"
          />
        </div>

        <div class="col-md-6 fv-row mb-3">
          <label class="fs-6 fw-semibold mb-2">
            {{ "COMPANIES.LABEL.FEE" | translate }}
          </label>
          <input
            type="number"
            class="form-control form-control-solid"
            formControlName="platformFeePercentage"
            [class.is-invalid]="isInvalid('platformFeePercentage')"
          />
        </div>

        <div class="col-md-6 fv-row mb-3">
          <label class="fs-6 fw-semibold mb-2">
            {{ "COMPANIES.LABEL.CURRENCY" | translate }}
          </label>
          <select
            class="form-select form-select-solid"
            formControlName="currencyId"
          >
            <option value="">
              {{ "COMPANIES.FORM.SELECT_CURRENCY" | translate }}
            </option>
            <option *ngFor="let c of currencies" [value]="c.id">
              {{ c.name }} ({{ c.code }})
            </option>
          </select>
        </div>

        <div class="col-md-6 fv-row mb-3">
          <label class="fs-6 fw-semibold mb-2">
            {{ "COMPANIES.LABEL.EMAIL_TEMPLATE" | translate }}
          </label>
          <textarea
            class="form-control form-control-solid"
            rows="3"
            formControlName="emailTemplate"
          ></textarea>
        </div>
      </div>

      <h5 class="fw-bold mb-3">
        {{ "COMPANIES.LABEL.BANK_ACCOUNT" | translate }}
      </h5>
      <div class="row mb-6" formGroupName="bankAccount">
        <div class="col-md-4 fv-row mb-3">
          <label class="fs-6 fw-semibold mb-2">{{
            "COMPANIES.LABEL.IBAN" | translate
          }}</label>
          <input
            type="text"
            class="form-control form-control-solid"
            formControlName="iban"
          />
        </div>
        <div class="col-md-4 fv-row mb-3">
          <label class="fs-6 fw-semibold mb-2">
            {{ "COMPANIES.LABEL.BANK_NAME" | translate }}
          </label>
          <input
            type="text"
            class="form-control form-control-solid"
            formControlName="bankName"
          />
        </div>
        <div class="col-md-4 fv-row mb-3">
          <label class="fs-6 fw-semibold mb-2">
            {{ "COMPANIES.LABEL.ACCOUNT_HOLDER" | translate }}
          </label>
          <input
            type="text"
            class="form-control form-control-solid"
            formControlName="accountHolder"
          />
        </div>
      </div>

      <h5 class="fw-bold mb-3">{{ "COMPANIES.LABEL.CONTACT" | translate }}</h5>
      <div class="row mb-6" formGroupName="contact">
        <div class="col-md-6 fv-row mb-3">
          <label class="fs-6 fw-semibold mb-2">
            {{ "COMPANIES.LABEL.EMAIL" | translate }}
          </label>
          <input
            type="email"
            class="form-control form-control-solid"
            formControlName="email"
            [class.is-invalid]="isInvalid('contact.email')"
          />
        </div>
        <div class="col-md-6 fv-row mb-3" formGroupName="phone">
          <label class="fs-6 fw-semibold mb-2">
            {{ "COMPANIES.LABEL.PHONE" | translate }}
          </label>
          <div class="input-group">
            <input
              type="text"
              class="form-control form-control-solid"
              style="max-width: 80px"
              formControlName="countryCode"
            />
            <input
              type="text"
              class="form-control form-control-solid"
              formControlName="number"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="card-footer d-flex justify-content-end py-6 px-9">
      <button
        type="button"
        class="btn btn-light btn-active-light-primary me-2"
        [routerLink]="backLink"
      >
        {{ "COMMON.BUTTON.CANCEL" | translate }}
      </button>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="isSubmitting || isButtonDisabled"
      >
        <span *ngIf="!isSubmitting">
          {{
            (company ? "COMMON.BUTTON.SAVE" : "COMMON.BUTTON.CREATE")
              | translate
          }}
        </span>
        <span *ngIf="isSubmitting" class="indicator-progress d-block">
          {{ "COMMON.BUTTON.WAIT" | translate }}
          <span
            class="spinner-border spinner-border-sm align-middle ms-2"
          ></span>
        </span>
      </button>
    </div>
  </form>
</div>
