<div>
  <div class="container py-5">
    <div class="card">
      <div class="card-body">
        <div class="places-header mb-4">
          <h2 class="mb-0">{{ "PLACES.TITLE" | translate }}</h2>

          <div class="d-flex align-items-center">
            <div class="input-group me-2" style="width: 360px">
              <span class="input-group-text">
                <i class="ki-duotone ki-magnifier fs-3">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>
              </span>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="placesSearch"
                (ngModelChange)="onPlacesSearchChange()"
                placeholder="{{ 'COMMON.LABEL.SEARCH_BY_CITY' | translate }}"
              />
            </div>

            <button
              class="btn btn-primary"
              (click)="openPlaceModal(placeModal)"
            >
              {{ "PLACES.ADD_BUTTON" | translate }}
            </button>
          </div>
        </div>

        <div *ngIf="loading" class="text-center my-5">
          <span class="spinner-border spinner-border-lg"></span>
          <div>{{ "PLACES.LOADING" | translate }}</div>
        </div>

        <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

        <div
          *ngIf="!loading && !(places$ | async)?.length && !error"
          class="alert alert-info"
        >
          {{ "PLACES.EMPTY" | translate }}
        </div>

        <div
          *ngIf="!loading && (places$ | async)?.length"
          class="table-responsive"
        >
          <table
            class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4"
          >
            <thead>
              <tr class="fw-bolder text-muted">
                <th class="min-w-150px">
                  {{ "COMMON.LABEL.CITY" | translate }}
                </th>
                <th class="min-w-120px">
                  {{ "COMMON.LABEL.COUNTRY" | translate }}
                </th>
                <th class="min-w-120px">
                  {{ "COMMON.LABEL.STATE" | translate }}
                </th>
                <th class="min-w-100px text-end">
                  {{ "COMMON.LABEL.ACTIONS" | translate }}
                </th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let place of places$ | async">
                <td>
                  <span class="text-dark fw-bolder text-hover-primary fs-6">
                    {{ place.city }}
                  </span>
                </td>
                <td>
                  <span *ngIf="place.country">
                    {{ place.country.flag }} {{ place.country.name }}
                  </span>
                  <span *ngIf="!place.country">-</span>
                </td>
                <td>{{ place.state?.name || "-" }}</td>
                <td>
                  <div class="d-flex justify-content-end flex-shrink-0">
                    <button
                      class="btn btn-icon btn-active-light-primary w-30px h-30px me-3"
                      (click)="openPlaceModal(placeModal, place)"
                    >
                      <i class="ki-duotone ki-pencil fs-2">
                        <span class="path1"></span>
                        <span class="path2"></span>
                      </i>
                    </button>
                    <button
                      class="btn btn-icon btn-active-light-danger w-30px h-30px"
                      (click)="deletePlace(place)"
                    >
                      <i class="ki-duotone ki-trash fs-2">
                        <span class="path1"></span>
                        <span class="path2"></span>
                      </i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="d-flex justify-content-end mt-10">
            <div class="col col-sm-6">
              <div class="text-sm-right float-end listjs-pagination">
                <ngb-pagination
                  [maxSize]="5"
                  [collectionSize]="pagination?.length || 0"
                  [(page)]="page"
                  (pageChange)="onPageChange($event)"
                  [pageSize]="pagination?.size || 10"
                >
                </ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #placeModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">
        {{
          (editing ? "PLACES.MODAL.EDIT_TITLE" : "PLACES.MODAL.ADD_TITLE")
            | translate
        }}
      </h5>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>

    <form [formGroup]="form">
      <div class="modal-body">
        <div class="mb-3">
          <label>
            {{ "COMMON.LABEL.CITY" | translate }}
            <span class="text-danger">*</span>
          </label>
          <input class="form-control" type="text" formControlName="city" />
          <div *ngIf="isInvalid('city')" class="text-danger small">
            {{ "PLACES.MODAL.ERRORS.CITY_REQUIRED" | translate }}
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-lg-6">
            <div class="mb-3">
              <label>{{ "COMMON.LABEL.COUNTRY" | translate }}</label>
              <ng-select
                [items]="countries"
                formControlName="country"
                [clearable]="true"
                [searchable]="true"
                [loading]="countriesLoading"
                (change)="onCountryChange()"
                (search)="onCountrySearch($event)"
                placeholder="{{ 'PLACES.MODAL.SELECT_COUNTRY' | translate }}"
              >
                <ng-template ng-label-tmp let-item="item">
                  {{ item.flag }} {{ item.name }}
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                  {{ item.flag }} {{ item.name }}
                </ng-template>
              </ng-select>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="mb-3">
              <label>{{ "COMMON.LABEL.STATE" | translate }} </label>
              <ng-select
                [items]="states$ | async"
                [clearable]="true"
                [searchable]="true"
                bindLabel="name"
                formControlName="state"
                [loading]="statesLoading"
                [typeahead]="statesSearchInput$"
                (scrollToEnd)="loadMoreStates()"
                (search)="onStateSearch($event)"
                placeholder="{{ 'PLACES.MODAL.SELECT_STATE' | translate }}"
              >
                <ng-template ng-label-tmp let-item="item">
                  {{ item.name }}
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                  {{ item.name }}
                </ng-template>
              </ng-select>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="submit(modal)"
          [disabled]="form.invalid || isButtonDisabled"
        >
          {{
            (editing ? "COMMON.BUTTON.UPDATE" : "COMMON.BUTTON.SAVE")
              | translate
          }}
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="modal.dismiss('Cross click')"
        >
          {{ "COMMON.BUTTON.CANCEL" | translate }}
        </button>
      </div>
    </form>
  </ng-template>
</div>
